* {
    font-family: 'Montserrat', sans-serif;
}

.hero-section {
    h1 {
        font-weight: 400;
    }
    span {
        font-weight: 500;
    }
}

.section-header {
    font-weight: 800;
}

.landing-quote {
    font-style: italic;
}